@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    -ms-touch-action: none;
    -webkit-font-smoothing: antialiased !important;
}
body,
div,
h1,
h3,
h4,
p,
ul,
li {
	margin: 0;
	padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    border: none;
    outline: none;
    display: inline-block;
}
img {
    display: block;
    border:none;
}
body {
	width: 100%;
    *cursor: default;
	/*overflow: hidden;*/
	font: 16px/1.5 "Open Sans",sans-serif,"Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
}


.navbar{
	position: absolute;
	height: 70px;
	width: 100%;
	background: #0b0b0b;
	border-bottom: 1px solid #181817;
	color: #ffffff;
}
.navcon{
	width: 1140px;
	margin: 0 auto;
	color: #ffffff;
}
.navcon a{
  color: #646464;
  text-transform: uppercase;
  cursor: pointer;
}

.navcon a:link{
	color: #646464;
}
.navcon a:visited{
	color: #646464;
}
.navcon a:active{
	color: #646464;
}
.gitcon{
	margin-right: 10px;
}
.index>span{
	line-height: 70px;
}
a.index:hover{
	color: rgb(225, 188, 134);
}
.about{
	float: right;
}
.about a{
	display: inline-block;
}
.about a:hover{
	color: rgb(225, 188, 134);
}
.about span{
	line-height: 70px;
}
.join{
	position: relative;
	top: -50%;
}
.cls{
	clear: both;
	display: inline-block;
}
.splash{
	background: url("../img/bg-1.jpg") no-repeat center center fixed;
	background-size: cover;
	padding: 4em 0;
	height: 600px;
}
.text{
	position: absolute;
	width: 50%;
	left: 50%;
	margin-left: -25%;
	margin-top: 50px;
}
.maincontent{
	width: 1140px;
	margin: 0 auto;
}
.memtitle>h2{
	/*font-family: "Open Sans", sans-serif;*/

	font-size: 2em;
	color: #c8c8c8;
	text-transform: uppercase;
	font-weight: 600;
}
.widewrapper{
	background-repeat: repeat-x;
	box-shadow: inset 1px 3px 1px -2px #d4d3d3;
	line-height: 23px;
	/*font-family: 'Open Sans', sans-serif;*/
	color: #6f6f6f;
	margin-bottom: -50px;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px)
.container {
  max-width: 1140px;
}
@media (min-width: 992px)
.container {
  max-width: 970px;
}
@media (min-width: 768px)
.container {
  max-width: 750px;
}
.container:before, .container:after {
  display: table;
  content: " ";
}
.container:before, .container:after {
  display: table;
  content: " ";
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before, .row:after {
  display: table;
  content: " ";
}
.feature {
  margin-top: 34px;
  margin-bottom: 34px;
}
/*@media (min-width: 992px)*/
.col-md-4 {
  width: 33.33333333333332%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
  float: left;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.feature h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin: 0 0 0px 0;
}
.glyphicons {
  display: inline-block;
  position: relative;
  padding: 5px 0 5px 35px;
  color: #1d1d1b;
  text-decoration: none;
}
.feature .glyphicons i:before {
  font-size: 23px;
  left: 3px;
  top: -9px;
  margin-left: -3px;
  float: left;
}
.glyphicons.tint i:before {
  content: "\e093";
}
.glyphicons i:before {
  color: #979797;
}
.glyphicons i:before {
  position: absolute;
  left: 0;
  top: 0;
  font: 24px/1em 'Glyphicons';
  font-style: normal;
  color: #1d1d1b;
}
.swiper-slide{
	height: 500px;
	box-shadow: inset 1px 3px 1px -2px #d4d3d3;
}
.img-responsive{
	height: 80%;
	position: relative;
	margin: auto 3em;
	top: 10%;
	display: inline-block;
}
.description{
	display: inline-block;
	position: relative;
	top: -50%;
	color: #6f6f6f;
}
.actcon{
	height: 400px;
	overflow: hidden;
	box-shadow: inset 1px 3px 1px -2px #d4d3d3;
}
.actcon .swiper-slide{
	box-shadow: none;
	text-align: center;
}
.actswicon{
	overflow: hidden;
	margin: 50px auto;
}
.svgcon{
  box-shadow: inset 1px 3px 1px -2px #d4d3d3;
  position: relative;
}
svg{
  
}
.planePath {
  stroke: #69696C;
  stroke-width: .1%;
  stroke-width: .5%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
}

.fil1 {
  fill: #D9DADA;
}

.fil2 {
  fill: #C5C6C6;
}

.fil4 {
  fill: #9D9E9E;
}

.fil3 {
  fill: #AEAFB0;
}
.achievement{
  /*display: none;*/
  opacity: 0;
}
.achievement1{
  position: absolute;
  left: 2%;
  top: 35px;
  border: 1px solid red;
  width: 15%;
}
.achievement2{
  position: absolute;
  left: 15%;
  top: 190px;
  border: 1px solid red;
  width: 13%;
}
.achievement3{
  position: absolute;
  left: 31%;
  top: 40px;
  border: 1px solid red;
  width: 15%;
}
.achievement4{
  position: absolute;
  left: 55%;
  top: 90px;
  border: 1px solid red;
  width: 13%;
}
.achievement5{
  position: absolute;
  left: 82%;
  top: 100px;
  border: 1px solid red;
  width: 13%;
}
.widewrapper.footer {
  background-color: #293540;
  color: #ffffff;
  -webkit-box-shadow: inset 1px 3px 1px -2px #202a32;
  -moz-box-shadow: inset 1px 3px 1px -2px #202a32;
  box-shadow: inset 1px 3px 1px -2px #202a32;
}
footer {
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
}
.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px)
.container {
  max-width: 970px;
}
@media (min-width: 768px)
.container {
  max-width: 750px;
}
.row.footer {
  margin-top: 20px;
  margin-bottom: 10px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-sm-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
footer h4 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 1.1;
}
.col-sm-3 a{
	color: #7694a7;
	text-decoration: none;
}
.showroom-item {
  margin-bottom: 20px;
}
.col-sm-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.showroom-item .image {
  position: relative;
}
.col-sm-3 .img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 10px 1em;
  margin-left: 5.5em;
}
.showroom-item .image .overlay {
  position: absolute;
  left: 0;
  right: 0px;
  top: 0px;
  bottom: 0;
  opacity: 0;
  display: hidden;
  background-color: #000000;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  overflow: hidden;
}
.col-sm-offset-2 {
  margin-left: 16.666666666666664%;
}
.col-sm-12 {
  width: 100%;
}

@keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@-webkit-keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

}
